<div class="content">
<h3 class="job_section_title">Edit a Job</h3>

<div class="job_section_description">

<%= simple_form_for @job do |f| %>

<div class="job_section_editnew"><%= f.input :title %></div>
<div class="job_section_editnew"><%= f.input :company_name %></div>
<div class="job_section_editnew"><%= f.input :description %></div>
<div class="job_section_editnew"><%= f.input :location %></div>
<div class="job_section_editnew"><%= f.input :published_time, :label => "Published Time" %></div>
<div class="job_section_editnew"><%= f.input :wage_lower_bound, :label => "Minimum Wage" %></div>
<div class="job_section_editnew"><%= f.input :wage_upper_bound, :label => "Maximum Wage" %></div>
<div class="job_section_editnew"><%= f.input :contact_email %></div>
<div class="job_section_editnew"><%= f.input :is_hidden %></div>

<div class="text-center">
  <%= f.submit "Submit", class: "btn btn-primary" %>
</div>

<% end %>

</div>
</div>
