<div class="content">
  <div class="container">
  <div class="pull-right dropdown clearfix">
    <button class="btn btn-default dropdown-toggle" type="button color: #636262" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Filter <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
      <li><%= link_to("by Minimum Wage", jobs_path(:order => "by_lower_bound")) %></li>
      <li><%= link_to("by Maximum Wage", jobs_path(order: "by_upper_bound")) %></li>
      <li><%= link_to("by Published Time", jobs_path) %></li>
    </ul>
  </div>

  <div class="table">
    <tbody>
      <% @jobs.each do |job| %>

        <div class="job_vacancy row"><p><%= link_to(job.title, job_path(job)) %></p></div>

        <div class="job_details_1 row">
          <div class="col-sm-4 col-xs-6"><p><i class="fa fa-id-card" aria-hidden="true"></i> <%= job.company_name %></p></div>
          <div class="col-sm-4 col-xs-6"><p><i class="fa fa-location-arrow" aria-hidden="true"></i> <%= job.location %></p></div>
          <div class="col-sm-4 col-xs-6"><p><i class="fa fa-calendar" aria-hidden="true"></i> <%= job.published_time %></p></div>
        </div>

        <div class="job_details_2 row">
          <div class="col-sm-4 col-xs-6"><p><i class="fa fa-jpy" aria-hidden="true"></i> <%= job.wage_lower_bound %> - <%= job.wage_upper_bound %></p></div>
          <div class="col-sm-4 col-xs-6"><p><i class="fa fa-envelope" aria-hidden="true"></i> <%= job.contact_email %></p></div>
        </div>

      <% end %>
    </tbody>

  </div>

  <div class="text-center" style="padding-top: 1.5em">
    <%= will_paginate @jobs, renderer: BootstrapPagination::Rails %>
  </div>

</div>
</div>
