<div class="content">

<h3 class="job_section_title"><%= @job.title %></h3>

<div class="back">
  <%= link_to(content_tag(:i, "Back", class: "glyphicon glyphicon-menu-left"), url_for(:jobs)) %>
</div>

<br/>

<div class="row">
<div class="col-md-3 col-md-offset-7">
    Created time: <%= @job.created_at.strftime("%d %b. %Y") %>
  <% if current_user && current_user.is_favorite_of?(@job) %>
  <%= link_to("<span class='fa fa-star-o'></sapn> Unfavorite".html_safe, favorite_job_path(@job, type: "unfavorite"), method: :put, class: "btn btn-xs btn-info") %>
  <% else %>
  <%= link_to("<span class='fa fa-star'></sapn> Favorite".html_safe, favorite_job_path(@job, type: "favorite"), method: :put, class: "btn btn-xs btn-warning") %>
  <% end %>
</div>
</div>

<br/>

<div class="job_section_description">
  <p><%= simple_format(@job.description) %></p>
</div>

<br/>

  <div class="text-center">
    <div class="btn-1">
      <% if !current_user %>
        <%= link_to("Submit Resume", new_job_resume_path(@job), class: "btn btn-primary", method: :get) %>
      <% else %>
        <% if current_user.admin? %>
          <%= link_to("Submit Resume", new_job_resume_path(@job), class: "btn btn-primary disabled", method: :get) %>
        <% else %>
            <% if current_user.has_applied?(@job) %>
            <%= link_to("Has Applied", new_job_resume_path(@job), class: "btn btn-primary disabled", method: :get) %>
            <% else %>
            <%= link_to("Submit Resume", new_job_resume_path(@job), class: "btn btn-primary", method: :get) %>
            <% end %>
        <% end %>
      <% end %>

    </div>
  </div>


</div>
