<div class="container">

  <div class="table_admin">
    <tbody>
      <% @jobs.each do |job| %>

      <div class="job_vacancy row"><p><%= render_job_staus(job) %> <%= link_to(job.title, admin_job_path(job)) %></p></div>

      <div class="job_details_1 row">
        <div class="col-sm-4 col-xs-6"><p><i class="fa fa-id-card" aria-hidden="true"></i> <%= job.company_name %></p></div>
        <div class="col-sm-4 col-xs-6"><p><i class="fa fa-location-arrow" aria-hidden="true"></i> <%= job.location %></p></div>
        <div class="col-sm-4 col-xs-6"><p><i class="fa fa-calendar" aria-hidden="true"></i> <%= job.created_at %></p></div>
      </div>

      <div class="job_details_1 row">
        <div class="col-sm-4 col-xs-6"><p><i class="fa fa-jpy" aria-hidden="true"></i> <%= job.wage_lower_bound %> - <%= job.wage_upper_bound %></p></div>
        <div class="col-sm-4 col-xs-6"><p><i class="fa fa-envelope" aria-hidden="true"></i> <%= job.contact_email %></p></div>
      </div>

      <div class="job_details_2 row">
        <div class="col-sm-4 col-xs-6"><p><i class="glyphicon glyphicon-list-alt" aria-hidden="true"></i> <b>Resumes Count: <%= link_to(job.resumes.count, admin_job_resumes_path(job)) %></b></p></div>

        <div class="col-md-4 pull-right">
          <%= link_to("Edit", edit_admin_job_path(job), class: "btn btn-xs btn-primary") %>
          <%= link_to("Delete", admin_job_path(job), method: :delete, class: "btn btn-xs btn-primary", data: { confirm: "Are you sure?" }) %>

          <% if job.is_hidden %>
          <%= link_to("Publish", publish_admin_job_path(job), method: :post, class: "btn btn-xs btn-default") %>
          <% else %>
          <%= link_to("Hide", hide_admin_job_path(job), method: :post, class: "btn btn-xs btn-primary") %>
          <% end %>
        </div>
      </div>

    <% end %>
    </tbody>
  </div>

  <div style="padding-top: 2em">
    <%= will_paginate @jobs, renderer: BootstrapPagination::Rails %>
  </div>

</div>
