<div class="content">
  <h3 class="job_section_title"> Resume submitted to <%= @job.title %> </h3>

  <div class="back">
    <%= link_to(content_tag(:i, "Back", class: "glyphicon glyphicon-menu-left"), url_for(:back)) %>
  </div>

<div class="job_section_resume">
<%= simple_form_for [@job, @resume] do |f| %>
  <div class="job_section_editnew"><%= f.input :content %></div>
  <div class="job_section_editnew"><%= f.input :attachment %></div>

  <div class="text-center">
    <%= f.submit "Apply for the Job", class: "btn btn-primary" %>
  </div>

<% end %>
</div>

</div>
