<nav class="navbar  navbar-inverse  navbar-fixed-top">
  <div class="container">
  <!-- Brand and toggle get grouped for better mobile display -->
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only"> Toggle navigation</span>
      <span class="icon-bar"> </span>
      <span class="icon-bar"> </span>
      <span class="icon-bar"> </span>
    </button>
      <a class="navbar-brand" href="/" style="font-size: 1.55em;">geek career</a>


    <!-- Collect the nav links, forms, and other content for toggling -->
    <div >
      <ul class="nav navbar-nav navbar-left">
        <li class="" style="font-size: 1.2em;"><a href="/jobs">Jobs</a></li>
      </ul>
    </div>

    <div class="navbar-collapse collapse">

      <div class="nav navbar-nav navbar-left">
      <%= form_tag search_jobs_path, :method => :get  do %>
      <div class="input-group" id="search-id" >
        <input type="text" class="form-control" name="q" value="<%= params[:q] %>" placeholder="search by Job Title">
        <div class="input-group-btn">
          <button class="btn btn-default" type="submit">
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </div>
      </div>
      <% end %>
    </div>

      <ul class="nav navbar-nav navbar-right">
        <% if !current_user %>
          <li style="font-size: 1.2em;"><%= link_to("<span class='fa fa-sign-in'></span> Register".html_safe, new_user_registration_path) %></li>
          <li style="font-size: 1.2em;"><%= link_to("<span class='fa fa-user'></span> Login".html_safe, new_user_session_path) %></li>
        <% else %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <span class="fa fa-user" aria-hidden="true">
              <%= current_user.email %>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <% if current_user.admin? %>
              <li><%= link_to("<span class='fa fa-th-list'></span>  Admin Panel".html_safe, admin_jobs_path) %></li>
              <% else %>
              <li><%= link_to("<span class='fa fa-star'></span>  My Favorite Jobs".html_safe, favorites_path) %></li>
              <% end %>
              <li ><%= link_to("<span class='fa fa-sign-out'></span>  Logout".html_safe, destroy_user_session_path, method: :delete) %></li>
            </ul>
          </li>
          <% end %>
      </ul>
    </div>
    <!-- /.navbar-collapse -->

  </div>
</nav>
